body,
html {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #403d39;
    color: #ccc5b9;
}

.content-wrapper {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 20% 80%;
    height: 100vh;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.game-bar {
    grid-column: 2 / 3;
    width: 800px;
    display: grid;
    justify-content: center;    
}

.side-bar {
    height: 100vh;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 300px;
    
    
}

.button-container {
    grid-row: 1 / 2;
    display: flex;
    margin-top: 20px;
    gap: 1rem;
}



.game-form {
    grid-row: 1 / 2;

}

.form-row {
    margin-bottom: 20px;
    color: #eb5e28;

}

.form-row input[type='text'] {
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    padding: 7px;
}

.game-board {
    grid-column: 2 / 3;
    background-color: #252422;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
   
}

.game-board .cell {
    border: 3px solid #ccc5b9;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cell:hover {
    background-color: #403d39;
}

#X {
    color: #ccc5b9;
}

#O {
    color: #ccc5b9;
}

button {
    background-color: #eb5e28;
    border-radius: 3px;
    display: inline block;
    font-size: 18px;
    padding: 6px 24px;
    text-decoration: none;
    cursor: pointer;
    
}
button:hover {
	background-color: #b37800;
}
button:active {
	position:relative;
	top:1px;
}